#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  netdata.service
After=network.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/var/lib/nethserver/%N/state/environment
WorkingDirectory=/var/lib/nethserver/%N/state
SyslogIdentifier=%N
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%N.pid %t/%N.cid
ExecStartPre=/bin/mkdir -p netdata/config 
ExecStartPre=/bin/mkdir -p netdata/lib
ExecStartPre=/bin/mkdir -p netdata/cache
ExecStartPre=/usr/local/bin/runagent -m %N discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --privileged \
    --conmon-pidfile %t/%N.pid \
    --cidfile %t/%N.cid \
    --cgroups=no-conmon \
    --replace --name=%N \
    --uts=host \
    --pid=host \
    --network=host \
    --volume ./netdata/config:/etc/netdata:Z \
    --volume ./netdata/lib:/var/lib/netdata:Z \
    --volume ./netdata/cache:/var/cache/netdata:Z \
    --volume /etc/passwd:/host/etc/passwd:ro \
    --volume /etc/group:/host/etc/group:ro \
    --volume /proc:/host/proc:ro \
    --volume /sys:/host/sys:ro \
    --volume /etc/os-release:/host/etc/os-release:ro \
    --volume /etc/localtime:/etc/localtime:ro \
    --volume /var/log:/host/var/log:ro \
    --cap-add SYS_ADMIN \
    --cap-add SYS_PTRACE \
    --security-opt apparmor=unconfined \
    --env NETDATA_CLAIM_TOKEN="${NETDATA_CLAIM_TOKEN}" \
    --env NETDATA_CLAIM_URL=https://app.netdata.cloud \
    --env NETDATA_CLAIM_ROOMS="${NETDATA_CLAIM_ROOMS}" \
    --env NETDATA_EXTRA_DEB_PACKAGES="lm-sensors" \
     ${NETDATA_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N.cid -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N.cid
PIDFile=%t/%N.pid
Type=forking

[Install]
WantedBy=default.target
