#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Netdata node monitoring
After=network.target redis.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/var/lib/nethserver/%N/state/environment
WorkingDirectory=/var/lib/nethserver/%N/state
SyslogIdentifier=%N
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%N.pid %t/%N.cid
ExecStartPre=runagent -m ${MODULE_ID} bash -c 'ln -vsf /$(if [ -n "$(ls -A /run/log/journal)" ]; then echo run ; else echo var ; fi)/log/journal .'
ExecStart=/usr/bin/podman run \
    --detach \
    --privileged \
    --conmon-pidfile %t/%N.pid \
    --cidfile %t/%N.cid \
    --cgroups=no-conmon \
    --replace --name=%N \
    --uts=host \
    --pid=host \
    --network=host \
    --volume ${MODULE_ID}-config:/etc/netdata:z \
    --volume ${MODULE_ID}-lib:/var/lib/netdata:z \
    --volume ${MODULE_ID}-cache:/var/cache/netdata:z \
    --volume /etc/passwd:/host/etc/passwd:ro \
    --volume /etc/group:/host/etc/group:ro \
    --volume /proc:/host/proc:ro \
    --volume /sys:/host/sys:ro \
    --volume /etc/os-release:/host/etc/os-release:ro \
    --volume /etc/localtime:/etc/localtime:ro \
    --volume ./journal:/host/var/log/journal:ro \
    --volume /run/dbus:/host/run/dbus \
    --cap-add SYS_ADMIN \
    --cap-add SYS_PTRACE \
    --security-opt apparmor=unconfined \
    --env NETDATA_LISTENER_PORT=${TCP_PORT} \
    --env NETDATA_* \
     ${NETDATA_IMAGE} \
        -W set statsd enabled no

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N.cid -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N.cid
PIDFile=%t/%N.pid
Type=forking

[Install]
WantedBy=default.target
